.tooling-apps-cache/app/apdev-examples/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7087fc5b-9714-4d1a-b93b-a88bee557dd9" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="6eedbf13-ba3d-42bb-b63d-ee749c991339" >
		<http:request-connection host="localhost" port="8082" />
	</http:request-config>
	<flow name="helloFlow" doc:id="4f747811-4a3e-45cb-bc83-55acdcbf0447" >
		<http:listener doc:name="GET /hello" doc:id="1e2449e4-fee3-438b-a100-404e2a244083" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET">
			<http:response reasonPhrase="Success2">
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : vars.firstName
}]]]></http:headers>
			</http:response>
		</http:listener>
		<set-variable value="#[message.attributes.queryParams.fname]" doc:name="firstName" doc:id="9b17d93a-3bfc-4872-b76f-9a653a0900f6" variableName="firstName"/>
		<set-payload value="Hello" doc:name="Hello" doc:id="f0119a80-2d12-45fd-8397-f00277abb45b" />
		<http:request method="GET" doc:name="Get /goodbye" doc:id="c2387bb6-18ed-4b94-8890-ba7c274a877b" config-ref="HTTP_Request_configuration" path="/goodbye">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"fullName" : attributes.queryParams.fname
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="payload" doc:id="91add55a-f8bb-4082-ac30-435f9e8f927c" message="#['\nMessage: ' ++ payload]]"/>
	</flow>
	<flow name="goodbyeFlow" doc:id="219e420c-6c45-471e-a955-da53c220cf30" >
		<http:listener doc:name="Get /goodbye" doc:id="ad572968-fe13-41ba-92a4-03b69e9212ff" config-ref="HTTP_Listener_config" path="/goodbye" allowedMethods="GET"/>
		<set-payload value="#[upper('Goodbye') ++ ' ' ++ (attributes.queryParams.fullName default 'Maxine')]" doc:name="Goodbye" doc:id="4a1fe81a-0dfc-4df2-aa08-6a70315672f6" />
		<logger level="INFO" doc:name="fullName" doc:id="ba9d5439-0bf3-4648-b4e1-9d5b7ed990cc" message="#[attributes.queryParams.fullName]"/>
	</flow>
</mule>