apdev-examples/src/main/mule/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

	<flow name="helloFlow" doc:id="4f747811-4a3e-45cb-bc83-55acdcbf0447" >
		<http:listener doc:name="GET /hello" doc:id="1e2449e4-fee3-438b-a100-404e2a244083" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET">
			<http:response reasonPhrase="Success2">
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : vars.firstName
}]]]></http:headers>
			</http:response>
		</http:listener>
		<flow-ref doc:name="subflow" doc:id="2312cae7-2b2f-4b99-8721-5f66ed45be2e" name="subflow"/>
		<vm:publish queueName="goodbye" doc:name="VM Goodbye" doc:id="de0b85ea-22b1-454b-a993-90236ebe78d3" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="payload" doc:id="91add55a-f8bb-4082-ac30-435f9e8f927c" message="#['\nMessage: ' ++ payload]]"/>
	</flow>
	<flow name="privateFlow" doc:id="5d4f5d46-413e-4ef3-ae28-5d4d021ae493">
		<http:request method="GET" doc:name="Get /goodbye" doc:id="c2387bb6-18ed-4b94-8890-ba7c274a877b" config-ref="HTTP_Request_configuration" path="/goodbye">
			<http:query-params><![CDATA[#[output application/java
---
{
	"fullName" : attributes.queryParams.fname
}]]]></http:query-params>
		</http:request>
	</flow>
	<sub-flow name="subflow" doc:id="d70a0723-fa62-4241-a4fc-78641c241a1a" >
		<set-variable value="#[message.attributes.queryParams.fname]" doc:name="firstName" doc:id="9b17d93a-3bfc-4872-b76f-9a653a0900f6" variableName="firstName" />
		<set-payload value="Hello" doc:name="Hello" doc:id="f0119a80-2d12-45fd-8397-f00277abb45b" />
	</sub-flow>
	<flow name="goodbyeFlow" doc:id="219e420c-6c45-471e-a955-da53c220cf30" >
		<vm:listener queueName="goodbye" doc:name="VM Goodbye" doc:id="6c8c41ff-94a8-4ba6-be61-7f85d50ec32b" config-ref="VM_Config"/>
		<set-payload value="#[upper('Goodbye') ++ ' ' ++ (attributes.queryParams.fullName default 'Maxine')]" doc:name="Goodbye" doc:id="4a1fe81a-0dfc-4df2-aa08-6a70315672f6" />
		<logger level="INFO" doc:name="fullName" doc:id="ba9d5439-0bf3-4648-b4e1-9d5b7ed990cc" message="#[attributes.queryParams.fullName]"/>
	</flow>
</mule>
